body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .goal-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .goal-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
    scrollbar-width: none;  /* Firefox */
  }
  
  .goal-content::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }

  
  
  .goal-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
  }
  
  .app-bar {
    background-color: #007bff;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .icon-button {
    color: #fff;
  }
  
  .typography {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .forecast-chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .additional-info {
    font-size: 1rem;
    line-height: 1.5;
  }
  