body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4b2e39;
    color: white;
    height: 100%;
    overflow: hidden;
  }
  
  .Homepage {
    position: relative;
    height: 100vh;
    width: 1500px;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
  }
  
  .Homepage-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 50px;
    width: 80%;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(229, 213, 197, 0.8);
    position: sticky;
    top: 0;
    z-index: 900;
   }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 120px; /* Adjust the size as needed */
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 24px; /* Adjust the size as needed */
    font-weight: bold;
  }
  
  .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .get-started {
    background-color: #5dbbe1;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  .hero {
    position: relative;
    text-align: center;
    padding: 100px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero h1 {
    font-size: 50px;
    margin: 0 0 20px;
    color: #1e90ff;
  }
  
  .hero p {
    font-size: 20px;
    margin: 0 0 20px;
  }
  
  .join-now {
    background-color: #1e90ff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }
  