/* RegisterForm.css */

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header h1 {
  color: #fff;
  margin: 0;
  padding: 0 20px;
  font-size: 2rem;
  display: inline-block;
}

.header nav {
  display: inline-block;
  float: right;
  padding: 0 20px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.header nav a:hover {
  color: #ffeb3b;
}

.form-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 500px;
  margin-top: 10px;
  text-align: center;
  position: relative;
  transition: filter 0.3s;
}

.form-container.loading {
  filter: blur(5px);
}

.form-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  text-align: left;
  color: #fff !important;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.form-group input:focus {
  box-shadow: 0 0 8px rgba(255, 235, 59, 0.7);
  outline: none;
}

.register-button  {
  background: #ffeb3b;
  color: #000;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.register-button:hover {
  background: #ffd700;
  transform: translateY(-2px);
}

.message {
  margin-top: 20px;
  font-size: 1.1rem;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer {
  width: 100%;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer p {
  color: white;
  margin: 5px 0;
}
