/* src/index.css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('path_to_background_image.jpg'); Add a path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #007BFF;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #0056b3;
}
